<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="/css/register.css" />
<script src="/js/register.js"></script>
</head>
<body>
	<div id = "imgDiv">
		<img src = "/images/springImg.jpg" id = "imgsrc"/>
	</div>
	<div id="wrap" class="wrap">
		<div id="includeheader"></div>
		<div id = "allCheckHeader">
			<div id = "allCheckWrapper">
			<div id = "allCheckDiv">
			<input type = "checkbox" class = "checkbox" id = "checkAll"/>
			</div>
		</div>
			<div id = "checkAllText">모든 약관에 동의합니다.</div>
		</div>
		<div id = "container"></div>
		<div id="buttonContainer">
			<button class = "btns" onclick = "btnCancel()" > 취소 </button>
			<button class = "btns" onclick = "btnOk()" > 확인 </button>
		</div>
	</div>
</body>
</html>